.header-navbar {
  background-color: #fff;
  border-bottom: 2px solid rgb(46,183,203);
}

.header-navbar .navbar-brand img {
  max-width: 100px;
  height: auto;
}

#scinext-logo {
  margin-right: 20px;
  height: 60px;
}