.header-navbar {
  background-color: #fff;
  border-bottom: 2px solid rgb(46,183,203);
}

.header-navbar .navbar-brand img {
  max-width: 100px;
  height: auto;
}

#scinext-logo {
  margin-right: 20px;
  height: 60px;
}

.navlink {
  text-decoration: None;
  margin: 0px 10px;
  color: rgb(46,183,203);
}

nav a.active{
  font-weight: bold;
}